
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#map {
    border: 4px solid darkslategray;
    width: 80vh;
    height: 80vh;
}

#button {
    margin-bottom: 30px;;
}

